source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FAKE
nuget SourceLink.Fake
nuget Nuget.CommandLine
nuget CsvHelper
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Xbehave ~> 1.1
nuget xunit.runners ~> 2.0.0-beta5-build2785
nuget xunit.runner.visualstudio >= 0.99 prerelease

nuget FluentAssertions
nuget FakeItEasy
nuget Xbehave
nuget FluentAssertions
nuget FakeItEasy
github fsharp/FAKE modules/Octokit/Octokit.fsx